.parent-div {
  text-align: center;
  
}

.card {
  display: inline-block;
  width: 220px;

  border: 2px solid black;
  background-color: rgb(179, 231, 231);

  padding: 10px;
  margin: 15px;

  border-radius: 15px;
  text-align: center;
}


.card:hover {
  outline: 3px solid rgb(50, 201, 95);
  outline-offset: 2px;
}

.card img {
  width: 200px;
  height: 120px;
}

.card a {
  display: inline-block;
  margin-top: 8px;
  color: white;
  background: black;
  padding: 5px 10px;
  border-radius: 5px;
}